*.pyc
*.db
*.sql
*.log
*.sqlite
pypy
tosql
win/
data/
introgression_viewer.tgz
introgression_viewer.xz
static/FileSaver.js/demo/
static/FileSaver.js/git/
84_walk
*.schema
*.old
out.png
vcfmerger/aux/pypy-2.0/
vcfmerger/pypy-2.0/
.git2
lin/
.nfs*
.idea/
nohup.out
*.tar.gz
checkout
.sync/
excluder
rsync
config.keylen
config.secret

