#decide whether to have user control or not
HAS_LOGIN    = False

#define port to server webpage
SERVER_PORT               = 10000

# pages which can be seen without login
LIBRE_PATHS = [
    '/api',
    '/favicon.ico'
]

DEBUG                     = True
