#decide whether to have user control or not
hasLogin    = True

#define port to server webpage
SERVER_PORT               = 10000

# pages which can be seen without login
librepaths = [
    '/api',
    '/favicon.ico'
]


DEBUG                     = True
