flask
ete2
sqlalchemy
pysha3
rsa

##preferably install system wide
#apt-get install -y python-setuptools python-dev python-numpy python-scipy python-matplotlib python-pandas python-sympy python-pip python-imaging
#
##if not, uncomment the following lines
#Pillow
#Image
#numpy
#scipy
#matplotlib
#MySQL-python
