<!DOCTYPE html>
<html lang="en" data-ng-app='myApp' data-ng-controller="mainController">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="cache-control" content="public">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="description" content="VCF merger visualization tool">
        <meta name="author"      content="Saulo Aflitos">
        <title>VCF merger visualization tool</title>

        <link rel="shortcut icon" href="">
        <!--<link   rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />-->
        <link   rel="stylesheet" href="/static/js/bootstrap/css/bootstrap.min.css" />
        <link   rel="stylesheet" href="/static/js/bootstrap/css/bootstrap-theme.min.css" />
        <!--<link   rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" />-->


        <!--<link   rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"                      />-->
        <!--<link   rel="stylesheet" href="/static/js/jquery/jquery-ui/themes/base/minified/jquery-ui.min.css"                      />-->
        <link   rel="stylesheet" href="/static/js/jquery/jquery-ui/css/cupertino/jquery-ui-1.10.4.custom.min.css"                      />


        <!--<link   rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"            />-->
        <!--<link   rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css"        />-->
        <!--<link   rel="stylesheet" href="/static/bootstrap/font-awesome/css/font-awesome.min.css"            />-->
        <!--if IE 7]>
        <link   rel="stylesheet" href="/static/bootstrap/font-awesome/css/font-awesome-ie7.min.css"        />
        <![endif]-->

        <!--<link   rel="stylesheet"              href="/static/custom.css"                                                  />-->
        <link   rel="stylesheet"              href="/static/css/custom2.css"                                                  />


        <!--<script type="application/javascript" src="//code.jquery.com/jquery-1.9.1.js"                                    ></script>-->
        <!--<script type="application/javascript" src="/static/js/jquery/jquery-1.10.2.min.js"                                      ></script>-->
        <!--<script type="application/javascript" src="/static/js/jquery/jquery-1.11.0.min.js"                                      ></script>-->
        <script type="application/javascript" src="/static/js/jquery/jquery-2.1.0.min.js"                                      ></script>

        <!--<script type="application/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
        <script type="application/javascript" src="/static/js/bootstrap/js/bootstrap.min.js"></script>

        <!--<script type="application/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"                             ></script>-->
        <!--<script type="application/javascript" src="/static/js/jquery/jquery-ui/ui/minified/jquery-ui.min.js"                    ></script>-->
        <script type="application/javascript" src="/static/js/jquery/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"                    ></script>

        <!--<script type="application/javascript" src="//d3js.org/d3.v2.js?2.9.6"                                            ></script>-->
        <script type="application/javascript" src="/static/js/d3js/d3.v3.min.js"                                                ></script>
        <!-- https://github.com/sunng87/heatcanvas -->
        <!--http://bl.ocks.org/mbostock/3202354-->
        <!--http://blog.nextgenetics.net/?e=44-->

        <script type="application/javascript" src="/static/js/angular/angular.min.js"                                           ></script>

        <script type="application/javascript" src="/static/js/FileSaver.js/FileSaver.min.js"                                ></script>
        <script type="application/javascript" src="/static/js/jsphylosvg-1.55/raphael-min.js"                               ></script>
        <script type="application/javascript" src="/static/js/jsphylosvg-1.55/jsphylosvg-min.js"                            ></script>

        <script type="application/javascript" src="/static/js/kinetic-v5.0.1.min.js"                                        ></script>

        <!--<script type="application/javascript" src="/static/cluster/figue.js"                                             ></script>-->
    </head>


    <body> <!-- data-ng-cloak="true" data-ng-show="initiated" -->
        <div id="working" data-ng-show="working">
            <img class="imgworking" src="/static/images/Moire_Lines.svg"/>
        </div>


        <div id="tooltip"></div>


        <div id="main_col">
            <div class="main_col_div main_col_setup" data-ng-show="databases">
                <p>
                    <b>Setup</b>
                    <i class="glyphicon glyphicon-cog" title="Setup"></i>
                </p>
            </div>


            <div class="main_col_div" data-ng-disabled="databases">
                <select class="sel input-sm form-control" title="Choose database" placeholder="- Select one database -" data-ng-model="databaseQry" data-ng-options="database for database in databases" data-ng-change="updateFields()"></select>
            </div>


            <div data-ng-show="databaseQry">
                <div class="main_col_div">
                    <p>
                        <b>Database {{ databaseQry }} Creation Time:</b> <span>{{ dbmtime }}</span>
                    </p>
                </div>


                <div class="main_col_div"><select class="sel form-control input-sm" title="Species for reference"                 placeholder="Select reference specie"  data-ng-disabled="!species"     data-ng-model="specieQry"     data-ng-options="specieL     for specieL     in species"                                ></select></div>

                <div class="main_col_div"><select class="sel form-control input-sm" title="Chromosome"                            placeholder="Select a chromosome"      data-ng-disabled="!chromosomes" data-ng-model="chromosomeQry" data-ng-options="chromosomeL for chromosomeL in chromosomes" data-ng-change="getGenes()"></select></div>

                <div class="main_col_div"><select class="sel form-control input-sm" title="Select a Individual Gene to Visualize" placeholder="Select a Individual Gene" data-ng-disabled="!genes"       data-ng-model="geneQry"       data-ng-options="geneL       for geneL       in genes"       data-ng-change="showGeneQry()"></select></div>

                <div class="main_col_div">
                    <select class="sel input-sm form-control" title="Clustering by N base pairs, N groups or evenly distributed" placeholder="- Group by -" data-ng-model="groupByQry" data-ng-disabled="!chromosomeQry">
                        <option class="clusteropt" value="group">  Group by N bp     </option>
                        <option class="clusteropt" value="classes">Group by N classes</option>
                        <option class="clusteropt" value="evenly"> Group evenly      </option>
                    </select>
                </div>

                <div class="main_col_div">
                    <input class="inp input-sm form-control numbersOnly number" id="groupByVal" type="text" placeholder="clustering value" title="Clustering Value"  data-ng-disabled="!groupByQry" data-ng-model="groupByValQry">
                </div>

                <div class="main_col_div">
                    <input class="btn btn-primary btn-block"                    id="btn_send"   type="button" value="Send"                 title="Send Query"        data-ng-disabled="!(specieQry && chromosomeQry && databaseQry)" data-ng-click="getData()">
                </div>


                <hr/>
                <div class="main_col_div">
                    <p>
                        <b>Options</b>
                        <i class="glyphicon glyphicon-chevron-down" title="Show Options" data-ng-click="showOptions=true"  data-ng-hide="showOptions"></i>
                        <i class="glyphicon glyphicon-chevron-up"   title="Show Options" data-ng-click="showOptions=false" data-ng-show="showOptions"></i>
                    </p>
                </div>

                <div data-ng-show="showOptions">
                    <table>
                        <tr><td><b>Column Text Width </b>: </td><td> 0 <input type="range" data-ng-model="setup.colTextWidth"     step="1"    min="0" max="100"/> 100 </td><td>{{ setup.colTextWidth    }} em</td></tr>
                        <tr><td><b>Row Text Width    </b>: </td><td> 0 <input type="range" data-ng-model="setup.rowTextWidth"     step="1"    min="0" max="100"/> 100 </td><td>{{ setup.rowTextWidth    }} em</td></tr>

                        <tr><td><b>Text Height       </b>: </td><td> 0 <input type="range" data-ng-model="setup.textHeight"       step="0.25" min="0" max="10" /> 10 </td><td>{{ setup.textHeight       }} em</td></tr>

                        <tr><td><b>Cell Width        </b>: </td><td> 0 <input type="range" data-ng-model="setup.cellWidth"        step="0.1"  min="0" max="10" /> 10 </td><td>{{ setup.cellWidth        }} em</td></tr>
                        <tr><td><b>Cell height       </b>: </td><td> 0 <input type="range" data-ng-model="setup.cellHeight"       step="0.1"  min="0" max="10" /> 10 </td><td>{{ setup.cellHeight       }} em</td></tr>
                        <tr><td><b>Introgress height </b>: </td><td> 0 <input type="range" data-ng-model="setup.introgressheight" step="1"    min="0" max="30" /> 30 </td><td>{{ setup.introgressheight }} em</td></tr>

                        <tr><td><b>Scale Height      </b>: </td><td> 0 <input type="range" data-ng-model="setup.scaleHeight"      step="0.5"  min="0" max="10" /> 10 </td><td>{{ setup.scaleHeight      }} em</td></tr>
                        <tr><td><b>Scale Splits      </b>: </td><td> 3 <input type="range" data-ng-model="setup.scaleSplits"      step="1"    min="3" max="30" /> 30 </td><td>{{ setup.scaleSplits      }} columns</td></tr>
                        <tr><td><b>Scale Text Width  </b>: </td><td> 0 <input type="range" data-ng-model="setup.scaleTextWidth"   step="0.5"  min="0" max="10" /> 10 </td><td>{{ setup.scaleTextWidth   }} em</td></tr>
                        <tr><td><b>Scale Block Height</b>: </td><td> 0 <input type="range" data-ng-model="setup.scaleBlockHeight" step="0.5"  min="0" max="10" /> 10 </td><td>{{ setup.scaleBlockHeight }} em</td></tr>
                        <tr><td><b>Scale Block Width </b>: </td><td> 0 <input type="range" data-ng-model="setup.scaleBlockWidth"  step="0.5"  min="0" max="10" /> 10 </td><td>{{ setup.scaleBlockWidth  }} em</td></tr>

                        <tr><td><b>Graph Padding Top </b>: </td><td> 0 <input type="range" data-ng-model="setup.paddingTop"       step="0.5"  min="0" max="10" /> 10 </td><td>{{ setup.paddingTop       }} em</td></tr>
                        <tr><td><b>Graph Padding Left</b>: </td><td> 0 <input type="range" data-ng-model="setup.paddingLeft"      step="0.5"  min="0" max="10" /> 10 </td><td>{{ setup.paddingLeft      }} em</td></tr>

                        <tr><td colspan="3"><input type="button" data-ng-click="updateConfig()" value="Apply"/></td></tr>
                    </table>
                </div>
            </div>



            <div id="footer">
                <p>
                    User: <span id="username">{{ username }}</span>

                    <a href="/logout">Logout</a>

                    <b>
                        Saulo Aflitos

                        <img src="https://en.gravatar.com/userimage/12694696/37d98621b01a5db519a0ca06829d3870.jpeg" class="srcicon">

                        <a href="http://nl.linkedin.com/in/sauloaflitos" title="LinkedIn Profile">
                            <img src="http://developer.linkedin.com/sites/default/files/LinkedIn_Logo60px.png" class="srcicon">
                        </a>

                        2013-2014
                    </b>

                    <i class="glyphicon glyphicon-question-sign" title="Help" data-ng-click="showHelp()"></i>
                </p>
            </div>
        </div>

        <div id="status">  <!--data-ng-show="data"-->
            Start:           {{ man.data.data_info.minPos         }}
            bp (min          {{ man.data.data_info.minPosAbs      }}
            bp) End:         {{ man.data.data_info.maxPos         }}
            bp (max          {{ man.data.data_info.maxPosAbs      }}
            bp) min value:   {{ man.data.data_info.minVal         }}
            max value:       {{ man.data.data_info.maxVal         }}
            species:         {{ man.data.data_info.num_rows       }}
            unities:         {{ man.data.data_info.num_cols       }}
            (out of          {{ man.data.data_info.num_cols_total }}
            )
        </div>

        <div id="wrap_buttons">  <!--data-ng-show="data"-->
            <div class="status_div">
                <button data-ng-click="controller.moveLeftFull()">&lt&lt</button>
                <button data-ng-click="controller.moveLeft()">&lt</button>
                <button data-ng-click="controller.moveUp()">&#94</button>
                <button data-ng-click="controller.zoomOut()">-</button>
                <button data-ng-click="controller.zoomReset()">0</button>
                <button data-ng-click="controller.zoomIn()">+</button>
                <button data-ng-click="controller.moveDown()">v</button>
                <button data-ng-click="controller.moveRight()">&gt</button>
                <button data-ng-click="controller.moveRightFull()">&gt&gt</button>
                <button data-ng-click="controller.reset()">R</button>
            </div>

            <div class="status_div">
                <input type="checkbox" data-ng-model="vars.showHeader" data-ng-change="updateWidthHeight()">Show Header</input>
                <input type="checkbox" data-ng-model="vars.showRow"    data-ng-change="updateWidthHeight()">Show Row   </input>
            </div>

            <div class="status_div" data-ng-show="cluster && clusterAlive">
                <input type="checkbox" data-ng-model="clusterSegments" data-ng-change="changeColOrder()">Cluster Segments</input>
                <input type="checkbox" data-ng-model="clusterRows"     data-ng-change="changeRowOrder()">Cluster Rows   </input>
            </div>

            <div class="status_div">
                <button data-ng-repeat="(colorName, colorData) in setup.colors" data-ng-click="updateColors(colorName)">{{ colorName }}</button>
            </div>

            <div class="status_div introSel">
                <b>Introgression</b><br/>
                <!--<select class="sel selMulti form-control input-sm" title="Species for introgression" placeholder="Select introgression species" data-ng-options="specieL for specieL in species"></select>-->
                <span data-ng-repeat="specieL in species">
                    <input type="checkbox" data-ng-model="introgressData[specieL].checked" data-ng-click="updateIntrogress(specieL)"/> {{ specieL }}<br/>
                </span>
            </div>

            <div class="status_div">
                Download as
                <button data-ng-click="downloadAsSvg()">SVG</button>
                <button data-ng-click="downloadAsPng()" data-ng-show="converterAlive">PNG</button>
                <button data-ng-click="downloadAsPdf()" data-ng-show="converterAlive">PDF</button>
            </div>
        </div>


        <!--<canvas id="imgcanvas" data-ng-show="data"></canvas>-->
        <canvas id="imgcanvas"></canvas>

        <!--<div canvasmatrix id="imgcanvas" hasupdates="hasUpdatesG" func="funcs.matrix.canvas" data-ng-show="data">-->

<!--            <svg id="wrap_svg" version="1.2" xmlns="http://www.w3.org/2000/svg">
                <g svgmatrix hasupdates='hasUpdatesScale'  func='funcs.matrix.scale'></g>

                <svg class="matrixbody" x="0em" data-ng-attr-y="{{ vars.scaleHeight || 0 }}em">
                    <g svgmatrix hasupdates='hasUpdatesHeader' func='funcs.matrix.header' show='vars.showHeader'></g>

                    <g svgmatrix hasupdates='hasUpdatesRows'   func='funcs.matrix.rows'   show='vars.showRow'></g>

                    <g svgmatrix hasupdates='hasUpdatesBody'   func='funcs.matrix.body'></g>
                </svg>

                <svg class="introgressbody" data-ng-attr-x="{{ vars.introgressX || 0 }}em" data-ng-attr-y="{{ vars.introgressY || 0}}em" data-ng-attr-width="{{ vars.introgressWidth || 0 }}em" data-ng-attr-height="{{ vars.introgressHeight || 0}}em">
                    <g svgmatrix hasupdates='hasUpdatesIntrogress' func='funcs.matrix.introgress'></g>
                </svg>-->

                <!--<svg class="rowsnames"                  data-ng-attr-x="{{ vars.rowNamesX }}em"             data-ng-attr-y="{{ vars.rowNamesY }}em"                   data-ng-show="vars.showRow">-->
                <!--    <text class="rowsnamescell"         data-ng-attr-x="0em"                                data-ng-attr-y="{{ ($index+1) * vars.rowTextHeight  }}em"                              data-ng-repeat="(rowNum, rowName) in data.data.name">{{ data.data.name[ vars.order.rows[ vars.currRowOrder ][ rowNum ] ] }}</text>-->
                <!--</svg>-->


                <!--<g data-ng-show="vars.showHeader" >-->
                <!--    <svg class="headeraxis"             data-ng-attr-x="{{ vars.axisX }}em"                 data-ng-attr-y="{{ vars.axisY }}em">-->
                <!--        <text class="headeraxiscell"    data-ng-attr-x="0em"                                data-ng-attr-y="{{ ($index+1) * vars.axisTextHeight }}em"                              data-ng-repeat="(rowName, rowData) in data.header">{{ rowName }}</text>-->
                <!--    </svg>-->
                <!---->
                <!--    <g class="headerG">-->
                <!--        <svg class="header"             data-ng-attr-x="{{ vars.headerX }}em"               data-ng-attr-y="{{ ($index) * vars.colTextHeight }}em"                                 data-ng-repeat="(rowName, rowData) in data.header">-->
                <!--            <text class="headerrowcell" data-ng-attr-x="{{ $index * vars.colTextWidth }}em" data-ng-attr-y="{{ vars.colTextHeight }}em"                                            data-ng-repeat="val in rowData track by $index">{{ rowData[ vars.order.cols[ vars.currColOrder ][ $index ] ] }}</text>-->
                <!--        </svg>-->
                <!--    </g>-->
                <!--</g>-->

                <!--<g class="matrixG">-->
                    <!--<svg class="matrix"                 data-ng-attr-x="{{ vars.matrixX }}em"               data-ng-attr-y="{{ vars.matrixY }}em">-->
                        <!--<matrixrow cellhei10=,2cdnpuvw]ght="vars.cellHeight" cellwidth="vars.cellWidth" line="data.data.line" color="setup.colors[ vars.currColor ]" orderrow="vars.order.rows[ vars.currRowOrder ]" ordercol="vars.order.cols[ vars.currColOrder ]"></matrixrow>-->
                        <!--<g matrixrow2 hasupdated='hasUpdated' matrixx="vars.matrixX" matrixy="vars.matrixY" cellheight="vars.cellHeight" cellwidth="vars.cellWidth" line="data.data.line" color="setup.colors[ vars.currColor ]" orderrow="vars.order.rows[ vars.currRowOrder ]" ordercol="vars.order.cols[ vars.currColOrder ]"></g>-->

                        <!--<svg class="matrixrow"          data-ng-attr-x="0em"                                data-ng-attr-y="{{ ($index) * vars.cellHeight     }}em"                                data-ng-repeat="(rowNum, rowData) in data.data.line">-->
                        <!--    <rect                       data-ng-attr-x="{{ ($index * vars.cellWidth) }}em"  data-ng-attr-y="0em"                                                                   data-ng-repeat="cellVal in rowData"                  data-ng-attr-width="{{ vars.cellWidth }}em" data-ng-attr-height="{{ vars.cellHeight }}em" fill="{{ setup.colors[ vars.currColor ].colorScale( data.data.line[ vars.order.rows[ vars.currRowOrder ][ rowNum ] ][ vars.order.cols[ vars.currColOrder ][ $index ] ][ 0 ] ) }}"></rect>-->
                        <!--</svg>-->
                    <!--</svg>-->
                <!--</g>-->
            <!--</svg>-->
        <!--</div>-->
        -
        <div id="tree"></div>
    </body>

    <footer>
        <!--CUSTOM SCRIPTS-->
        <script type="application/javascript" src="/static/js/controller.js"                                                    ></script>
        <!--<script type="application/javascript" src="/static/custom.js"                                                    ></script>-->
        <!--<script type="application/javascript" src="/static/custom_svg.js"                                                ></script>-->
        <!--<script type="application/javascript" src="/static/custom_table.js"                                              ></script>-->
    </footer>
</html>
