<!DOCTYPE html>
<html>
    <head>
        <title>Introgression Browser - Admin Page</title>
    </head>

    <body bgcolor="#C2C2C2">
        <div align="center" style="position: relative; top: 45%;">
            <h1>Introgression Browser</h1>
            <h2>Administration Page</h2>
        </div>

        <div>
            <table>
                <tr>
                    <th align="left">
                        Username:
                    </th>
                    <td align="left">
                        <input type="text" id="username"></input>
                    </td>
                </tr>

                <tr>
                    <th align="left">
                        Password 1:
                    </th>
                    <td align="left">
                        <input type="password" id="password1"></input>
                    </td>
                </tr>

                <tr>
                    <th align="left">
                        Password 2:
                    </th>
                    <td align="left">
                        <input type="password" id="password2"></input>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="left">
                        <button onclick="add_user()">Add</button>
                        <input type="hidden" value="{{ noonce }}" id="noonce" name="noonce"></input>
                    <td>
                </tr>


                <tr>
                    <td colspan="2" align="left">
                        <b id="message">{{ message if message else "" }}</b>
                    <td>
                </tr>

                {% for user in users %}
                <tr>
                    <th align="left">{{ user }}</th>
                    <td align="left"><a onclick="delete_user('{{user}}')" href="#">delete</a></td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="2" align="left">
                        <b><a href="/logout">logout</a></b>
                    <td>
                </tr>
            </table>
        </div>
    </body>


    <footer>
        <script type="text/javascript">
  function delete_user( username ) {
    console.log( "deleting user: ", username );
    var noonce   = document.getElementById('noonce'  ).value;

    var r = confirm("Are you sure you want to delete user '"+username+"'");
    if (r === false) {
        return;
    }

    var form = document.createElement("form");
    form.setAttribute("method", "POST"  );
    form.setAttribute("action", "/admin");

    var action_field = document.createElement("input");
    action_field.setAttribute("type" , "hidden"  );
    action_field.setAttribute("name" , "action"  );
    action_field.setAttribute("value", "del"     );
    form.appendChild(action_field);

    var user_field = document.createElement("input");
    user_field.setAttribute("type" , "hidden"  );
    user_field.setAttribute("name" , "username");
    user_field.setAttribute("value", username  );
    form.appendChild(user_field);

    var noonce_field = document.createElement("input");
    noonce_field.setAttribute("type" , "hidden" );
    noonce_field.setAttribute("name" , "noonce" );
    noonce_field.setAttribute("value", noonce   );
    form.appendChild(noonce_field);

    var security   = hasher("del"+username+noonce);

    document.body.appendChild(form);
    form.submit();
    //document.removeChild(form);
  }



  function add_user() {
    console.log( "adding user" );
    var username  = document.getElementById('username' ).value;
    var password  = document.getElementById('password1').value;
    var password2 = document.getElementById('password2').value;
    var noonce    = document.getElementById('noonce'   ).value;

    console.log( "adding user :: login    : ", username  );
    console.log( "adding user :: password1: ", password  );
    console.log( "adding user :: password2: ", password2 );
    console.log( "adding user :: noonce   : ", noonce    );

    if ( password != password2 ) {
        document.getElementById("message").innerHTML = "Passwords do not match";
        return;
    }

    var up         = username + password + noonce;
    //console.log("up         : ", up);

    var cryptPass  = hasher(up              );
    var security   = hasher(cryptPass+noonce);

    //console.log("cryptPass  : ", cryptPass);

    var form = document.createElement("form");
    form.setAttribute("method", "POST"  );
    form.setAttribute("action", "/admin");

    var action_field = document.createElement("input");
    action_field.setAttribute("type" , "hidden"  );
    action_field.setAttribute("name" , "action"  );
    action_field.setAttribute("value", "add"     );
    form.appendChild(action_field);

    var user_field = document.createElement("input");
    user_field.setAttribute("type" , "hidden"  );
    user_field.setAttribute("name" , "username");
    user_field.setAttribute("value", username  );
    form.appendChild(user_field);

    var pass_field = document.createElement("input");
    pass_field.setAttribute("type" , "hidden"  );
    pass_field.setAttribute("name" , "password");
    pass_field.setAttribute("value", encrypter.encrypt( cryptPass ));
    form.appendChild(pass_field);

    var noonce_field = document.createElement("input");
    noonce_field.setAttribute("type" , "hidden" );
    noonce_field.setAttribute("name" , "noonce" );
    noonce_field.setAttribute("value", noonce   );
    form.appendChild(noonce_field);

    var sec_field = document.createElement("input");
    sec_field.setAttribute("type" , "hidden"   );
    sec_field.setAttribute("name" , "security" );
    sec_field.setAttribute("value", security   );
    form.appendChild(sec_field);

    document.body.appendChild(form);
    form.submit();
    //document.removeChild(form);
  }



//window.onload = function() {
//    document.getElementById('form').onsubmit = function() {
//    var noonce = new Date().getTime() + '' + new Date().getMilliseconds();
//    var hash = CryptoJS.SHA384("Message");
//
//    var form     = document.getElementById('form'    );
//    console.log("form       : ", form);
//
//    var username = document.getElementById('username');
//    console.log("username   : ", username);
//    console.log("username   : ", username.value);
//
//    var password = document.getElementById('password');
//    console.log("password   : ", password);
//    console.log("password   : ", password.value);
//
//    var noonce   = document.getElementById('noonce');
//    console.log("noonce     : ", noonce);
//    console.log("noonce     : ", noonce.value);
//
//    var up         = username.value + password.value;
//    console.log("up         : ", up);
//
//    var cryptPass  = CryptoJS.SHA384(up).toString(CryptoJS.enc.Hex);
//    console.log("cryptPass  : ", cryptPass);
//
//    var data       = CryptoJS.SHA384(noonce.value + cryptPass).toString(CryptoJS.enc.Hex);
//
//    console.log("data       : ", data);
//
//    password.value = data;
//
//    return false;
//  }
//}
        </script>

{% include 'crypto.html' without context %}
    </footer>
</html>
