        <script type="text/javascript">
{{ include_file('jsencrypt.min.js' ) }}
        </script>


        <script type="text/javascript">
            var encbitsize = {{ encbitsize                                       }};
            var pubkey     = {{ include_file_multiline(rsa_public_key_file_name) }};
            var encrypter  = new JSEncrypt(default_key_size=encbitsize);
                encrypter.setPublicKey(  pubkey  );
            var encrypted  = encrypter.encrypt( "test" );
            console.log( "encrypted ", encrypted );
        </script>
