<!DOCTYPE html>
<html>
    <head>
        <title>Introgression Browser - Login Page</title>
    </head>

    <body bgcolor="#C2C2C2">
        <div align="center" style="position: relative; top: 45%;">

            <h1>Introgression Browser</h1>
            <h2>Credential Required</h2>

            <form action="" id="form" method="post">
                <table>
                    <tr>
                        <th><p>Username:</p></th><td><input type="text"     name="username" id="username"></td>
                    </tr>
                    <tr>
                        <th><p>Password:</p></th>
                        <td>
                            <input type="password" name="password" id="password">
                            <input type="hidden"   name="noonce"   id="noonce" value="{{ noonce }}">
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2"><p><input type="submit"   name="Login" value="Login"/></p></th>
                    </tr>
                    <tr>
                        <th colspan="2"><p id="message">{{ message }}</p></th>
                    </tr>
                </table>
            </form>
        </div>


        <div align="center">
            GitHub Repository: <a href="http://sauloal.github.io/introgressionbrowser/" title="GitHub Repository" alt="Github Repositoty" target="_blank">Source Code, Tutorial and Help</a>

            <b>
                by Saulo Aflitos

                <a href="https://www.linkedin.com/in/sauloaflitos" title="LinkedIn Profile" target="_blank">LinkedIn profile</a> //

                <a href="http://www.ab.wur.nl/ab/"                 title="Applied Bioinformatics" target="_blank">Aplied Bioinformatics</a> //

                <a href="http://www.wageningenur.nl/en.htm"        title="Wageningen University" target="_blank">Wageningen University</a>

                2012-2014
            </b>
        </div>
    </body>


    <footer>
        <script type="text/javascript">
window.onload = function () {

    function get_json(url, callback) {
        //http://www.w3schools.com/json/json_http.asp
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var myArr = JSON.parse(xmlhttp.responseText);
                callback(myArr);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }


  document.getElementById('form').onsubmit = function() {
    var username = document.getElementById('username').value;
    //console.log("username   : ", username);

    get_json( "/salt/"+username, function(data) {
        console.log("salt ", data);

        var salt     = data.salt;

        if ( ! salt ) {
            document.getElementById("message").innerHTML = "no such user";
            return false;
        }

        var username = document.getElementById('username').value;
        //console.log("username   : ", username);

        var password = document.getElementById('password').value;
        //console.log("password   : ", password);

        var noonce   = document.getElementById('noonce').value;
        console.log("noonce     : ", noonce);



        var up         = username + password + salt;
        console.log("up         : ", up);

        var cryptPass  = hasher(up);
        console.log("cryptPass  : ", cryptPass);

        var res        = hasher(noonce + cryptPass);

        console.log("res        : ", res);

        //document.getElementById('password').value = res;

        document.getElementById('password').value = encrypter.encrypt( res );

        document.getElementById('form').submit();
        return false;
    });

    return false;
  };
};
        </script>
{% include 'crypto.html' without context %}

    </footer>
</html>
