<!DOCTYPE html>
<html lang="en" data-ng-app='myApp' data-ng-controller="mainController">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="cache-control" content="public">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="description" content="iBrowser">
        <meta name="author"      content="Saulo Aflitos">
        <title>Introgression Browser - Run Page</title>
    </head>

    <body>
        <div id="controls"></div>
        <div id="projects"></div>
        <div id="logs"></div>
    </body>

    <script>
        var noonce = "{{ noonce }}";
    </script>

    <script type="application/javascript" src="/static/js/jquery/jquery-2.1.1.min.js"                                   ></script>

    <script type="application/javascript" src="/static/js/bootstrap/js/bootstrap.3.2.0.min.js"                          ></script>

    <script type="application/javascript" src="/static/js/jquery/jquery-ui-1.11.0/jquery-ui.min.js"                     ></script>

    <script type="application/javascript" src="/static/js/d3js/v3.4.9/d3.min.js"                                        ></script>

    <script type="application/javascript" src="/static/js/angular/v1.3.0b14/angular.min.js"                             ></script>

    <script type="application/javascript" src="/static/js/run.js"                                                       ></script>
</html>
